<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hac.todo.domain.todo.TodoMapper">

    <insert id="insertTodo" parameterType="com.hac.todo.web.dto.todo.TodoRequestDto">
        insert into todo_base(
            id,
            title,
            state,
            start_date,
            end_date,
            del_yn,
            frst_reg_date,
            last_chg_date
        )values(
            #{id},
            #{title},
            'todo',
            now(),
            now(),
            'N',
            now(),
            now()
        )
    </insert>

    <select id="selectTodoList" resultType="com.hac.todo.web.dto.todo.TodoListResponseDto">
        select
            no,
            id,
            title,
            content,
            state,
            del_yn
        from
            todo_base
        order by frst_reg_date desc
    </select>

    <update id="updateTodoState" parameterType="com.hac.todo.web.dto.todo.TodoRequestDto">
        update todo_base
        set
            state = #{state},
            last_chg_date = now()
        where
            no = #{no}
    </update>

    <update id="deleteTodoState" parameterType="com.hac.todo.web.dto.todo.TodoRequestDto">
        update todo_base
        set
            del_yn = 'Y',
            last_chg_date = now()
        where
            no = #{no}
    </update>

    <select id="selectTodoDetailData" parameterType="long" resultType="com.hac.todo.web.dto.todo.TodoDetailResponseDto">
        select
            no,
            id,
            title,
            content,
            state,
            date_format(start_date, '%Y-%m-%d') start_date,
            date_format(end_date, '%Y-%m-%d') end_date,
            date_format(start_date, '%H:%i') start_time,
            date_format(end_date, '%H:%i') end_time
        from
            todo_base
        where
            no = #{no}
    </select>

</mapper>